In [306]:
# scrapping from 
import numpy as np
import pandas as pd 
from better_profanity import profanity as p
df1  =  pd.read_csv("data/bangali.csv")
df2  =  pd.read_csv("data/bangali2.csv")
df3  =  pd.read_csv("data/bangla.csv")
df4  =  pd.read_csv("data/bihari.csv")
df5  =  pd.read_csv("data/gujrati.csv")
df6  =  pd.read_csv("data/haryanvi.csv")
df7  =  pd.read_csv("data/hindi2.csv")
df8  =  pd.read_csv("data/hindi3.csv")
df9  =  pd.read_csv("data/hindi.csv")
df10 =  pd.read_csv("data/indian.csv")
df11 =  pd.read_csv("data/kannada.csv")
df12 =  pd.read_csv("data/kashmiri.csv")
df13 =  pd.read_csv("data/kashmiri1.csv")
df14 =  pd.read_csv("data/maldivs.csv")
df15 =  pd.read_csv("data/malyalam.csv")
df16 =  pd.read_csv("data/marathi.csv")
df17 =  pd.read_csv("data/oriya.csv")
df18 =  pd.read_csv("data/punjabji.csv")
df19 =  pd.read_csv("data/punjabji2.csv")
df20 =  pd.read_csv("data/telugu.csv")
df21 =  pd.read_csv("data/urdu.csv")

In [307]:
finaldf = df1.append([df2,df3,df4,df5,df6 ,df7 , df8, df9, df10, df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21], ignore_index = True)

In [308]:
#finaldf = finaldf['Phrase'].update(finaldf.pop('aand'))

In [309]:
finaldf

,Phrase,Meaning,Is This Accurate?,aand,chutiye,idiot,(10%) (0%)
0,"""KUTH-TII"" (or) ""KUTTII""",Bitch,(0%) (0%),NaN,NaN,NaN,NaN
1,AAGA (or) GUUUUUUU,Shit,(1%) (0%),NaN,NaN,NaN,NaN
2,amar nunu chat,Suck my dick!,(1%) (1%),NaN,NaN,NaN,NaN
3,Ami Tumarae Khortham,I Wanna Do U,(0%) (0%),NaN,NaN,NaN,NaN
4,Ashiq,Penis Hair,(7%) (26%),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1482,Toomaray tattay baraay pahraay heh,Youe balls are very heavy,(1%) (1%),NaN,NaN,NaN,NaN
1483,tu tho meri chod ki tara :P,you look like my dick :P,(10%) (3%),NaN,NaN,NaN,NaN
1484,Uloo Ki Pata,Son of An Owl,(1%) (1%),NaN,NaN,NaN,NaN
1485,Uloo Ki Pati,Daughter of An Owl,(1%) (1%),NaN,NaN,NaN,NaN
1486,ulu chod,owl fucker,(1%) (1%),NaN,NaN,NaN,NaN

In [310]:
df2.shape

(26, 3)

In [311]:
finaldf.shape

(1487, 7)

In [ ]:
finaldf.info

In [ ]:
df2.describe()

In [ ]:
df3.info

In [ ]:
finaldf.shape

In [ ]:
#finaldf[''].fillna('Phrase') + df['aand'].fillna('')

In [ ]:
finaldf.describe()

In [ ]:
finaldf.drop(['Meaning','Is This Accurate?','aand',"Unnamed:0"],axis='columns', inplace=True)

In [ ]:
finaldf.head()

In [ ]:
finaldf.shape

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
finaldf

In [ ]:
finaldf.shape

In [ ]:
finaldf.drop_duplicates(subset=None, keep='first', inplace=True)

In [ ]:
finaldf.describe()

In [ ]:
finaldf

In [ ]:
finaldf.dropna()

In [ ]:
finaldf.reset_index(inplace=True)

In [ ]:
finaldf

In [ ]:
#err
#finaldf.drop("index",axis='columns', inplace=True)

In [ ]:
finaldf

# done some prepocessong on GCPdataprep

In [312]:
import numpy as np
import pandas as pd 
r = pd.read_csv("prepAndMerge.csv")

In [313]:
r.shape

(1474, 1)

In [314]:
r.describe()

       bara / bada
count         1474
unique        1465
top         Gaandu
freq             2

In [315]:
r.head()

         bara / bada
0             Bessha
1       bhuski maagi
2  Bichi Chara Potla
3            Bodmash
4               Boga

In [316]:
r.drop_duplicates(subset=None, keep='first', inplace=True)
r = r.dropna()

In [317]:
r.shape

(1465, 1)

In [318]:
r.columns = ['Phrase']

In [319]:
r['Phrase']= r['Phrase'].str.lower()

In [320]:
r.head()

              Phrase
0             bessha
1       bhuski maagi
2  bichi chara potla
3            bodmash
4               boga

# Data Visulization

In [321]:
"""from string import ascii_lowercase
d = dict.fromkeys(ascii_lowercase,'a')
for item in r:
    d[item[0]] += 1"""

"from string import ascii_lowercase\nd = dict.fromkeys(ascii_lowercase,'a')\nfor item in r:\n    d[item[0]] += 1"

In [322]:
for i in range(97,123):
    r[chr(i)] =r["Phrase"].str.startswith(chr(i))
    
    
print(r[r[chr(i)]].value_counts())
    
r = r*1
custom_badwords = r['Phrase'].to_list()

Phrase       a      b      c      d      e      f      g      h      i      j      k      l      m      n      o      p      q      r      s      t      u      v      w      x      y      z
zokkk        False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zokke poan   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zok          False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zoake goodh  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zinhook      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zavnya       False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zavkhor      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zavadya      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zang         False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zakal ponz   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
dtype: int64

In [323]:
#r.sort_values(by="Phrase",ascending=True)

In [334]:
p.load_censor_words(custom_badwords)
print(p.censor("tara bhai I love chi"))

tara bhai I love chi

0