In [1]:
# scrapping from 
import pandas as pd 
df1  =  pd.read_csv("data/bangali.csv")
df2  =  pd.read_csv("data/bangali2.csv")
df3  =  pd.read_csv("data/bangla.csv")
df4  =  pd.read_csv("data/bihari.csv")
df5  =  pd.read_csv("data/gujrati.csv")
df6  =  pd.read_csv("data/haryanvi.csv")
df7  =  pd.read_csv("data/hindi2.csv")
df8  =  pd.read_csv("data/hindi3.csv")
df9  =  pd.read_csv("data/hindi.csv")
df10 =  pd.read_csv("data/indian.csv")
df11 =  pd.read_csv("data/kannada.csv")
df12 =  pd.read_csv("data/kashmiri.csv")
df13 =  pd.read_csv("data/kashmiri1.csv")
df14 =  pd.read_csv("data/maldivs.csv")
df15 =  pd.read_csv("data/malyalam.csv")
df16 =  pd.read_csv("data/marathi.csv")
df17 =  pd.read_csv("data/oriya.csv")
df18 =  pd.read_csv("data/punjabji.csv")
df19 =  pd.read_csv("data/punjabji2.csv")
df20 =  pd.read_csv("data/telugu.csv")
df21 =  pd.read_csv("data/urdu.csv")

In [2]:
finaldf = df1.append([df2,df3,df4,df5,df6 ,df7 , df8, df9, df10, df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21], ignore_index = True)

In [7]:
df2.head()

         Phrase        Meaning Is This Accurate?
0     Bain Chod  Sister fucker        (10%) (1%)
1      Bainchod  Sister Fucker        (10%) (0%)
2  Bassa Shouko   smell my ass         (9%) (9%)
3    chodnar po   son of bitch        (10%) (0%)
4    Gud-marani         fucker         (0%) (0%)

In [8]:
df1.shape

(114, 3)

In [9]:
df2.shape

(26, 3)

In [10]:
df3.shape

(43, 3)

In [11]:
df1.info

<bound method DataFrame.info of                        Phrase                      Meaning Is This Accurate?
0    "KUTH-TII" (or) "KUTTII"                        Bitch         (0%) (0%)
1          AAGA (or) GUUUUUUU                         Shit         (1%) (0%)
2              amar nunu chat                Suck my dick!         (1%) (1%)
3        Ami Tumarae Khortham                 I Wanna Do U         (0%) (0%)
4                       Ashiq                   Penis Hair        (7%) (26%)
..                        ...                          ...               ...
109            tu ekta bandar  Your a dumbass/monkey/idiot        (10%) (2%)
110           Tur booga sooto          Your dick is small.         (1%) (1%)
111        tur mar booni khaa          suck your mums tits         (1%) (1%)
112            tuy ath marros                your a wanker         (1%) (0%)
113                   Vogchod                         fool        (10%) (3%)

[114 rows x 3 columns]>

In [13]:
df2.info

<bound method DataFrame.info of                         Phrase                           Meaning  \
0                    Bain Chod                     Sister fucker
1                     Bainchod                     Sister Fucker
2                 Bassa Shouko                      smell my ass
3                   chodnar po                      son of bitch
4                   Gud-marani                            fucker
5                        hagoo                              shit
6                        Hijra                          Homo/gay
7                         Hoga                               Ass
8                 Khankir pola                    Son of a whore
9               Kuthaar Baicha                      Son of a Dog
10              Kuttar Bachcha                    Son of a bitch
11              kuttar bachcha                    son of a bitch
12                       Leura                              Dick
13                        Magi                        Whore/Slut
14                         Mai                              Tits
15                      makhal                             crazy
16                    muri kha                  go fuck yourself
17                  Noakhailla                             Loser
18                  randi magi                             whore
19       thor maa khai lai moo               i will eat your mum
20    thor maar bosoi khai see              i ate your mums dick
21  Tomar maar putkey fatamu .          I will blast ur mums ass
22      Tor babar bichi fatabo  I will crack your father's balls
23            Tor mar sawa kha              Eat your mothers cum
24              tor mare chudi                     fuck your mom
25          tur ma amar fel be          your mum is my dick yeah

   Is This Accurate?
0         (10%) (1%)
1         (10%) (0%)
2          (9%) (9%)
3         (10%) (0%)
4          (0%) (0%)
5          (0%) (0%)
6          (9%) (9%)
7        (0%) (100%)
8          (0%) (0%)
9         (10%) (0%)
10         (0%) (0%)
11        (9%) (13%)
12         (9%) (9%)
13         (0%) (0%)
14         (0%) (0%)
15         (1%) (2%)
16       (0%) (100%)
17        (10%) (3%)
18         (0%) (0%)
19       (0%) (100%)
20         (0%) (0%)
21         (1%) (0%)
22         (0%) (0%)
23        (10%) (0%)
24        (10%) (0%)
25       (0%) (100%)  >

In [14]:
df3.info

<bound method DataFrame.info of                          Phrase                      Meaning Is This Accurate?
0                  Aanguli kora        Masturbation (female)         (1%) (0%)
1                        achuda                       fucker         (1%) (1%)
2                           ads                         bull         (9%) (9%)
3         Ami tor maa ke chudmu         I will fuck your mum        (10%) (2%)
4                          baal                   pubic hair         (1%) (1%)
5                   Baal chhero          Tear your ball hair        (9%) (12%)
6                          Bara                         Cock        (10%) (1%)
7            Beissha Magir Pola          Son of a Prostitute        (10%) (3%)
8                          Bhag                       Vagina         (1%) (1%)
9                         Bhoda                        Pussy        (10%) (1%)
10                    Bokachoda                Stupid fucker        (10%) (0%)
11            boltu chire felbo        i will cut your penis        (10%) (3%)
12                 botoi khowra                     eat dick        (10%) (3%)
13                        Choda                         Fuck        (10%) (2%)
14                        Chood                         Fuck        (10%) (4%)
15                Chudanir pola         Result of fuck (Son)        (10%) (0%)
16                        Chudi                     Fuck you        (10%) (5%)
17       Chudmu tor pasai sneha     Prostitute who does anal        (10%) (0%)
18                      Chumban                         Kiss         (9%) (5%)
19                        Chumu                         Kiss        (10%) (2%)
20                         Dhon                         Cock        (10%) (2%)
21                  Dhon khecha          Masturbation (male)         (9%) (5%)
22                Gaand Maarano        Getting fucked in Ass        (10%) (5%)
23                          Gud                       Vagina        (10%) (1%)
24                      Humaira                    A fat cow         (1%) (3%)
25                       Khanki                   Prostitute        (10%) (0%)
26                  khanki Magi                         Slut        (10%) (5%)
27                 khankir pola               son of a bitch        (10%) (0%)
28                kuttar Baccha               Son of a Bitch         (1%) (3%)
29           lehr kawrar bachha           son of a cum eater        (10%) (0%)
30                         Mang                        Pussy        (10%) (0%)
31                        Naang            Boyfriend of wife        (10%) (3%)
32                   pod marani  a girl who is fucked by ass        (10%) (5%)
33                         Pond                          Ass         (1%) (1%)
34                   Shetar bal         pubic hair of vagina        (10%) (0%)
35                      Shishna                        Penis         (1%) (3%)
36                       Sohail                  I like dick         (1%) (5%)
37  Thor heta muka ath boridimu        i will fist your cunt        (10%) (0%)
38               Tor Gaar Maari           I'll fuck your ass        (10%) (5%)
39             Tor maa ke chudi             Fuck your mother        (10%) (2%)
40                tor mar vhoda              your moms pussy        (10%) (3%)
41         tumi bal hagu koro!!          You shit pubic shit         (9%) (7%)
42                  Vuuski magi        Nymphomaniac in heat.         (9%) (8%)>

In [15]:
finaldf.info

<bound method DataFrame.info of                                   Phrase                    Meaning  \
0               "KUTH-TII" (or) "KUTTII"                      Bitch
1                     AAGA (or) GUUUUUUU                       Shit
2                         amar nunu chat              Suck my dick!
3                   Ami Tumarae Khortham               I Wanna Do U
4                                  Ashiq                 Penis Hair
...                                  ...                        ...
1339  Toomaray tattay baraay pahraay heh  Youe balls are very heavy
1340         tu tho meri chod ki tara :P   you look like my dick :P
1341                        Uloo Ki Pata              Son of An Owl
1342                        Uloo Ki Pati         Daughter of An Owl
1343                            ulu chod                 owl fucker

     Is This Accurate? aand
0            (0%) (0%)  NaN
1            (1%) (0%)  NaN
2            (1%) (1%)  NaN
3            (0%) (0%)  NaN
4           (7%) (26%)  NaN
...                ...  ...
1339         (1%) (1%)  NaN
1340        (10%) (3%)  NaN
1341         (1%) (1%)  NaN
1342         (1%) (1%)  NaN
1343         (1%) (1%)  NaN

[1344 rows x 4 columns]>

In [16]:
finaldf.shape

(1344, 4)

In [17]:
finaldf.describe()

             Phrase Meaning Is This Accurate?     aand
count          1249    1249              1249       95
unique         1249     941                42       95
top     kukka sulli    Dick         (1%) (0%)  chooche
freq              1      17               187        1

In [18]:
finaldf.drop(['Meaning','Is This Accurate?','aand'],
  axis='columns', inplace=True)

In [19]:
finaldf.head()

                     Phrase
0  "KUTH-TII" (or) "KUTTII"
1        AAGA (or) GUUUUUUU
2            amar nunu chat
3      Ami Tumarae Khortham
4                     Ashiq

In [20]:
finaldf.shape

(1344, 1)

In [21]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)

In [22]:
print(finaldf)

                                  Phrase
0               "KUTH-TII" (or) "KUTTII"
1                     AAGA (or) GUUUUUUU
2                         amar nunu chat
3                   Ami Tumarae Khortham
4                                  Ashiq
...                                  ...
1339  Toomaray tattay baraay pahraay heh
1340         tu tho meri chod ki tara :P
1341                        Uloo Ki Pata
1342                        Uloo Ki Pati
1343                            ulu chod

[1344 rows x 1 columns]

In [23]:
finaldf.shape

(1344, 1)

In [24]:
finaldf.drop_duplicates(subset=None, keep='first', inplace=True)

In [25]:
finaldf.describe()

             Phrase
count          1249
unique         1249
top     kukka sulli
freq              1

In [26]:
finaldf

                                  Phrase
0               "KUTH-TII" (or) "KUTTII"
1                     AAGA (or) GUUUUUUU
2                         amar nunu chat
3                   Ami Tumarae Khortham
4                                  Ashiq
...                                  ...
1339  Toomaray tattay baraay pahraay heh
1340         tu tho meri chod ki tara :P
1341                        Uloo Ki Pata
1342                        Uloo Ki Pati
1343                            ulu chod

[1250 rows x 1 columns]

In [27]:
finaldf.dropna()

                                  Phrase
0               "KUTH-TII" (or) "KUTTII"
1                     AAGA (or) GUUUUUUU
2                         amar nunu chat
3                   Ami Tumarae Khortham
4                                  Ashiq
...                                  ...
1339  Toomaray tattay baraay pahraay heh
1340         tu tho meri chod ki tara :P
1341                        Uloo Ki Pata
1342                        Uloo Ki Pati
1343                            ulu chod

[1249 rows x 1 columns]

In [28]:
finaldf.reset_index(inplace=True)

In [29]:
finaldf

      index                              Phrase
0         0            "KUTH-TII" (or) "KUTTII"
1         1                  AAGA (or) GUUUUUUU
2         2                      amar nunu chat
3         3                Ami Tumarae Khortham
4         4                               Ashiq
...     ...                                 ...
1245   1339  Toomaray tattay baraay pahraay heh
1246   1340         tu tho meri chod ki tara :P
1247   1341                        Uloo Ki Pata
1248   1342                        Uloo Ki Pati
1249   1343                            ulu chod

[1250 rows x 2 columns]

In [36]:
#err
#finaldf.drop("index",axis='columns', inplace=True)

In [37]:
finaldf

                                  Phrase
0               "KUTH-TII" (or) "KUTTII"
1                     AAGA (or) GUUUUUUU
2                         amar nunu chat
3                   Ami Tumarae Khortham
4                                  Ashiq
...                                  ...
1245  Toomaray tattay baraay pahraay heh
1246         tu tho meri chod ki tara :P
1247                        Uloo Ki Pata
1248                        Uloo Ki Pati
1249                            ulu chod

[1250 rows x 1 columns]