In [2]:
import pandas as pd
import numpy as np

In [6]:
df22 =  pd.read_csv("data/IBW.csv")
df22.shape

(3466, 2)

In [8]:
df22.head()

   Unnamed: 0             Phrase
0           0             Bessha
1           1       bhuski maagi
2           2  Bichi Chara Potla
3           3            Bodmash
4           4               Boga

In [19]:
from itertools import product
import pandas as pd
import numpy as np
REPLACE = {'a': '@', 'i': '*', 'o': '*', 'u': '*', 'v': '*', 
 'l': '1', 'e': '*', 's': '$', 't': '7'}

def Leet2Combos(word):
    possibles = np.zeros(shape=(5,2))
    for l in word.lower():
        ll = REPLACE.get(l, l)
        possibles = np.append(possibles, (l,) if ll == l else (l, ll) )
    return [ ''.join(t) for t in product(*possibles) ]
s="""india
love
japan"""

words = s.split('\n')
print(words)
lst= np.array([])
# ['Chodon Boiraagi', 'Chodon Idli', 'chood']
for word in words:
    lst = np.append(lst,Leet2Combos(word))
    k = pd.DataFrame(lst)
k

['india', 'love', 'japan']

                         0
0       0000000000i*ndi*a@
1       000000000.i*ndi*a@
2       0000000000i*ndi*a@
3       00000000.0i*ndi*a@
4       00000000..i*ndi*a@
...                    ...
177142   00000000..ja@pa@n
177143   00000000.0ja@pa@n
177144   0000000000ja@pa@n
177145   000000000.ja@pa@n
177146   0000000000ja@pa@n

[177147 rows x 1 columns]

In [12]:
from pandas import *
import pandas as pd

df = pd.read_csv(data, sep="\n")

AttributeError: module 'pandas.compat' has no attribute 'StringIO'

In [5]:
!pip install --upgrade pip
!pip install pandas-datareader

Collecting pip
  Using cached pip-21.1.1-py3-none-any.whl (1.5 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 20.2.4
    Uninstalling pip-20.2.4:
      Successfully uninstalled pip-20.2.4
Successfully installed pip-21.1.1
Collecting pandas-datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 216 kB/s eta 0:00:01
Requirement already satisfied: requests>=2.19.0 in /home/vivek/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: lxml in /home/vivek/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: pandas>=0.23 in /home/vivek/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: pytz>=2017.2 in /home/vivek/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/vivek/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/vivek/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied: six>=1.5 in /home/vivek/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/vivek/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/vivek/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /home/vivek/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/vivek/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0