In [1]:
# scrapping from 
import numpy as np
import pandas as pd 
from better_profanity import profanity as p
df1  =  pd.read_csv("data/bangali.csv")
df2  =  pd.read_csv("data/bangali2.csv")
df3  =  pd.read_csv("data/bangla.csv")
df4  =  pd.read_csv("data/bihari.csv")
df5  =  pd.read_csv("data/gujrati.csv")
df6  =  pd.read_csv("data/haryanvi.csv")
df7  =  pd.read_csv("data/hindi2.csv")
df8  =  pd.read_csv("data/hindi3.csv")
df9  =  pd.read_csv("data/hindi.csv")
df10 =  pd.read_csv("data/indian.csv")
df11 =  pd.read_csv("data/kannada.csv")
df12 =  pd.read_csv("data/kashmiri.csv")
df13 =  pd.read_csv("data/kashmiri1.csv")
df14 =  pd.read_csv("data/maldivs.csv")
df15 =  pd.read_csv("data/malyalam.csv")
df16 =  pd.read_csv("data/marathi.csv")
df17 =  pd.read_csv("data/oriya.csv")
df18 =  pd.read_csv("data/punjabji.csv")
df19 =  pd.read_csv("data/punjabji2.csv")
df20 =  pd.read_csv("data/telugu.csv")
df21 =  pd.read_csv("data/urdu.csv")

In [2]:
finaldf = df1.append([df2,df3,df4,df5,df6 ,df7 , df8, df9, df10, df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21], ignore_index = True)

In [ ]:
#finaldf = finaldf['Phrase'].update(finaldf.pop('aand'))

In [ ]:
finaldf

In [ ]:
df2.shape

In [ ]:
finaldf.shape

In [ ]:
finaldf.info

In [ ]:
df2.describe()

In [ ]:
df3.info

In [ ]:
finaldf.shape

In [ ]:
#finaldf[''].fillna('Phrase') + df['aand'].fillna('')

In [ ]:
finaldf.describe()

In [ ]:
finaldf.drop(['Meaning','Is This Accurate?','aand',"Unnamed:0"],axis='columns', inplace=True)

In [ ]:
finaldf.head()

In [ ]:
finaldf.shape

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
finaldf

In [ ]:
finaldf.shape

In [ ]:
finaldf.drop_duplicates(subset=None, keep='first', inplace=True)

In [ ]:
finaldf.describe()

In [ ]:
finaldf

In [ ]:
finaldf.dropna()

In [ ]:
finaldf.reset_index(inplace=True)

In [ ]:
finaldf

In [ ]:
#err
#finaldf.drop("index",axis='columns', inplace=True)

In [ ]:
finaldf

# done some prepocessong on GCPdataprep

In [252]:
import numpy as np
import pandas as pd 
r = pd.read_csv("prepAndMerge.csv")

In [253]:
r.shape

(1474, 1)

In [254]:
r.describe()

       bara / bada
count         1474
unique        1465
top         Gaandu
freq             2

In [255]:
r.head()

         bara / bada
0             Bessha
1       bhuski maagi
2  Bichi Chara Potla
3            Bodmash
4               Boga

In [256]:
r.drop_duplicates(subset=None, keep='first', inplace=True)
r = r.dropna()

In [257]:
r.shape

(1465, 1)

In [258]:
r.columns = ['Phrase']

In [259]:
r['Phrase']= r['Phrase'].str.lower()

In [260]:
r.head()

              Phrase
0             bessha
1       bhuski maagi
2  bichi chara potla
3            bodmash
4               boga

# Data Visulization

In [261]:
"""from string import ascii_lowercase
d = dict.fromkeys(ascii_lowercase,'a')
for item in r:
    d[item[0]] += 1"""

"from string import ascii_lowercase\nd = dict.fromkeys(ascii_lowercase,'a')\nfor item in r:\n    d[item[0]] += 1"

In [262]:
for i in range(97,123):
    r[chr(i)] =r["Phrase"].str.startswith(chr(i))
    
    
print(r[r[chr(i)]].value_counts())
    
r = r*1
custom_badwords = r['Phrase'].to_list()

Phrase       a      b      c      d      e      f      g      h      i      j      k      l      m      n      o      p      q      r      s      t      u      v      w      x      y      z
zokkk        False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zokke poan   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zok          False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zoake goodh  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zinhook      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zavnya       False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zavkhor      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zavadya      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zang         False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
zakal ponz   False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  True    1
dtype: int64

In [277]:
r.sort_values(by="Phrase",ascending=True)

,Phrase,a,b,c,d,e,f,g,h,i,...,q,r,s,t,u,v,w,x,y,z
760,"""ninde ama, pati!""",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
761,aaana kunna,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
631,aab,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
945,aai chi gand,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
946,aai ghalya,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,zinhook,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
722,zoake goodh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
723,zok,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
724,zokke poan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
725,zokkk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [305]:
p.load_censor_words(custom_badwords)
print(p.censor("tara bhai gaandu"))

tara bhai ****

0